

/* sets nav width */
body {
    font-family: 'Roboto', sans-serif;
    width: 95%;
    margin: 15px auto;
    background-color: #fefefe;
    color: #222;
}


/* ------   NAV   --------- */
.navigation {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

.navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 0;
}

/* logo using my initials */
#logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    letter-spacing: 0.9em;
    padding-left: 13px;
    padding-top: 4px;
    padding-bottom: 7px;
    border: solid #999 0.23em;
}

.navigation .nav-right {
    float: right;
}

.navigation .nav-right a {
    height: 100%;
    line-height: 280%;
    margin-left: 3vw;
}

/* highlights current page red */
.current {
    color: red;
}
#logo.current {
    border: solid red 0.23em;
}

#logo:hover {
    border: solid red 0.23em;
}

.navigation a {
    letter-spacing: 2px;
}

/* style menu icon */
.navigation a.icon div {
    width: 35px;
    height: 2px;
    background-color: #999;
    margin: 10px 0;
}

/* hide menu icon at large screen size */
.navigation a.icon {
    display: none;
}

/* responsiveness */
@media screen and (max-width: 600px) {
    .navigation .nav-right a { display: none; } 
    .navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navigation.responsive { position: relative; }
    .navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation.responsive .nav-right {
        margin-top: 90px;
        margin-bottom: 20px;
        float: left;
    }
    .navigation.responsive .nav-right a {
        float: none;
        display: block;
        text-align: left;
        left: -30px;
    }
}


/* ------  END NAV   --------- */



/* set body/content width */
.container, footer {
    margin: auto;
    width: 70%;
    max-width: 900px;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 4em;
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: red;
}

ul {
    list-style: none;
}




/*------- HOME PAGE -----------*/
.home {
    font-family: 'Roboto Mono', monospace;
}

.home h1 {
    font-size: 3em;
    letter-spacing: 10vw;
    line-height: 20vh;
    padding-bottom: 0;
    text-align: center;
}

/* helps to center text */
.last-letter {
    letter-spacing: 0;
}

/*-------- END HOME PAGE ---------*/



/*----------- FOOTER ------------*/
footer {
    /*
    margin-top: 5vh;
    margin-bottom: 10vh;
    */
}
footer h1 {
    float: right;
}

ul {
    padding-left: 0;
}

.square {
    color: grey;
}

/*--------- END FOOTER -----------*/

h2 {
    font-size: 2.2em;
}

h3 {
    margin-bottom: 0;
    font-size: 1.2em;
}

/* all pages */
.content {
    margin-left: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.post_excerpt {
    margin-bottom: 50px;
}

.post-lists a {
    font-size: 1.5em;
}

.post-lists li {
    padding: 1em;
}

/* make mobile content will width*/
@media screen and (max-width: 600px) {
    .container, footer {
        width: 90%;
    }
}


/* auto hyphenate long words */
.hyphenate {
    word-wrap: break-word;
}